:root {
  --color-text-titulos: #ffffffff;
  --color-texto: rgba(255, 255, 255, 0.85);
  --color-acento: #e6e4c6;
  --color-fondo: #0e3a47;
  --color-fondo-tarjeta: #ffffff27;
}

body {
  margin: 0;
  background-color: var(--color-fondo);
  color: var(--color-texto);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: grid;
  grid-template-areas: "aside header" "aside main" "footer footer";
  grid-template-columns: 220px 1fr;
}
h1,h2,h3,h4,h5,h6{
  color: var(--color-text-titulos);
}

header {
  grid-area: header;
  background-image: url("./img/0e39c256714a4b7c0299323a82701647.jpg");
  background-size: cover;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: space-between;
}

header div{
    margin:40px;
}

a:not(footer a){
    color: var(--color-fondo);
    font-weight: bold;
    text-decoration: none;
    background-color: var(--color-acento);
    border-radius: 5px;
    padding: 10px 40px;
}

aside {
  grid-area: aside;
  padding: 0 20px;
  margin-right: 20px;
}

footer {
  grid-area: footer;
  text-align: center;
}
footer a{
    color:var(--color-texto);
}



main {
  grid-area: main;
}

header img{
    max-height: 400px;
    flex-shrink: 1;
    margin-right: 50px;

}

.tarjeta{
    background-color: var(--color-fondo-tarjeta);
    border-radius: 5px;
}

#tarjetasContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.proyecto{
    flex-basis: 314px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.proyecto a{
  align-items: center;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-top: auto;
}

.proyecto div{
  margin: 0 20px;
}

.proyecto img{
 height: 150px;
 object-fit: cover;
 filter: grayscale(0.7);
 transition: 0.3s;
 border-radius: 5px 5px 0 0;
}

.proyecto:hover img{
  filter: grayscale(0);
}

.tecnologia{
  margin-left: 5px;
  transition: 0.2s;
  user-select: none;
}

.tecnologia:hover{
  color: var(--color-acento);
}

aside img{
  
  max-height: 200px;
  display: block;
  margin: auto;
}

.presentacion div, .idioma div{
  display: flex;
  justify-content: space-between;
}
.presentacion span:last-of-type,.idioma span:last-of-type{
  color: var(--color-text-titulos);
}

aside>div{
  padding: 20px 0;
  border-bottom: 2px solid var(--color-fondo);

}
aside>div:last-of-type{
  border-bottom: unset;
}

progress{
  -webkit-appearance: none;
}

::-webkit-progress-bar{
  background-color: var(--color-fondo);
}

::-webkit-progress-inner-element{
  height: 5px;
}

::-webkit-progress-value{
  background-color: var(--color-acento);
}

.redes{
  display: flex;
  justify-content: space-around;
}

.redes img{
  filter: invert(1);
  
}
.redes a {
  background-color: unset;
}

@media(max-width:650px){
  body{
    grid-template-areas: "header" "main" "aside" "footer";
    grid-template-columns: 1fr;
  }
  
  
  
  aside, main{
    margin: 0 20px;
  }
  
}

